<div class="row">
  <%= render "layouts/success" %>
  <div class="col-md-6">
    <h2>
      <%= @skill.name %>
      <%= link_to "Delete", skill_path(@skill), class: "crud-link text-danger pull-right",
                                                method: "delete" %>
    </h2>
    <hr>
    <p>
      <%= @skill.description %>
    </p>
      <%= link_to "Edit", edit_skill_path(@skill), class: "crud-link pull-right" %>
  </div>

  <div class="col-md-3 col-md-offset-2">
    <h3>
      Projects
      <%= link_to "Add project", new_skill_project_path(@skill), class: "crud-link pull-right" %>
    </h3>
    <hr>
    <% @skill.projects.each do |project| %>
      <div class="text-center col-md-6">
        <%= project.name %>
        <hr>
      </div>
    <% end %>
  </div>
</div>
