<div class="post">
  <h2>
    <%= post.title %>
  </h2>
  <h5 class="weak">
    posted by Ben Cornelis on <%= post.posted_at %>
  </h5>
  <h5 class="weak">
    last updated <%= convert_time(post.time_since_updated) %> ago
  </h5>
  <hr>
  <p>
    <%= post.content %>
  </p>
  <% if policy(post).update? %>
    <%= link_to "Edit post", edit_post_path(post) %> |
    <%= link_to "Delete post", post_path(post), method: :delete, class: "text-danger" %>
  <% end %>
</div>
  <div id="comment-form"></div>
<p>
  <%= render "comments/comment_link", post: post %>
</p>
<hr>
<div class="comments">
  <% post.comments.order("id desc").each do |comment| %>
    <%= render "comments/comment", comment: comment, post: post %>
  <% end %>
</div>
