<h3 class="text-center">
  Recent Posts
</h3>
<hr>
<% if @recent_posts.any? %>
  <% @recent_posts.each do |post| %>
    <div class="item">
      <%= link_to post.title, post_path(post) %>
      <span class="weak">(<%= post.posted_at %>)</span>
    </div>
  <% end %>
<% else %>
 No posts yet
<% end %>
<hr>
<% if policy(Post.new).create? %>
  <%= link_to "New Post", new_post_path %>
<% elsif !user_signed_in? %>
  <div>
    <%= link_to "Login", new_user_session_path %> or
    <%= link_to "Signup", new_user_registration_path %>
  </div>
  to leave a comment
<% end %>
