<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="row">
  <div class="nav-bar">
    <ul class="list-unstyled list-inline pull-left">
      <li class="nav-item"><%= link_to "Home", skills_path %></li>
      <li class="nav-item"><%= link_to "Blog", skills_path %></li>
    </ul>
    <span class="pull-right notice">
      <%= render "layouts/alert" %>
      <%= render "layouts/success" %>
    </span>
  </div>
</div>
<div class="row main">
  <%= yield %>
</div>
</div>

</body>
</html>
